@page "/ProductDetails/{id:int}"

@model net9购物网站.Pages.ProductDetailsModel  
@{  
   ViewData["Title"] = "商品详情";  
}  

@if (Model.Product != null)  
{  
   <h1>@Model.Product.Name</h1>  
   <img src="@Model.Product.ImageUrl" alt="@Model.Product.Name" style="width:300px;height:300px;" />  
   <p>@Model.Product.Description</p>  
   <p>价格: ¥@Model.Product.Price</p>  

@*    <form method="get" asp-page="/Payment" asp-route-id="@Model.Product.Id">  
       <button type="submit">支付</button>  
   </form> *@
    <button onclick="window.location='/payment/@Model.Product.Id'">支付</button>
}  
else  
{  
   <p>商品信息未找到。</p>  
}  

<a href="/">返回商品列表</a>
